@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(127, 136, 143);
  font-weight: 400;
  line-height: 1.65;
}

h1,
h2,
h3,
button,
div#content > header > a,
aside > nav > ul > li > a {
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3 {
  color: #3d4449;
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.75em;
  border-bottom: 3px solid rgb(245, 106, 106);
  width: fit-content;
  padding: 0 0.75em 0.5em 0;
  margin: 0 0 2em 0;
}

h3 {
  font-size: 1.25em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, svg {
  transition: all .2s ease;
  &:hover {
    transition: all .2s ease;
  }
}

input {
  transition: all .5s ease;
  &:active, &:hover, &:focus {
    transition: all .5s ease;
  }
}

p {
  font-size: 1.05em;
}

button {
  background: none;
  border: 2px solid rgb(245, 106, 106);
  border-radius: 0.3em;
  padding: 0.75em 1.25em;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s ease;
  &:hover {
    background-color: rgba(245, 106, 106, 0.05);
    transition: all .5s ease;
  }
}

button,
svg {
  color: rgb(245, 106, 106);
}

img {
  transition: all .5s ease;
  &:hover {
    transition: all .5s ease;
  }
}

div#wrapper {
  display: flex;
  aside {
    width: 24em;
    background-color: #f5f6f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;
    h2 {
      font-size: 1.5em;
    }
    &.inactive {
      // TODO: à vérifier en responsive!!!
      margin-left: -24em;
      transition: all 0.5s ease;
    }
    > section {
      padding: 2em;
      width: 100%;
      position: relative;
      margin-bottom: 1em;
      &#search {
        background-color: #eff1f2;
        > form {
          height: 3em;
          > input {
            width: 100%;
            height: 3em;
            border-radius: 0.5em;
            border: 1px solid lightgrey;
            padding: 1em;
            font-size: 1em;
            font-family: 'Open Sans', sans-serif;
            &:focus {
              outline: none;
              border: 1px solid rgb(245, 106, 106);
              box-shadow: 0 0 0 1px #f56a6a;
            }
          }
          > svg {
            position: relative;
            top: -1.5em;
            left: 12em;
            font-size: 1.5em;
            color: lightgrey;
            transform: rotate(90deg);
          }
        }
      }
      &#news {
        margin-top: 1em;
        > article {
          > div.img-wrapper {
            width: 100%;
            overflow: hidden;
            border-radius: 0.5em;
            box-shadow: 0 0 10px -5px #3d4449;
            > img {
              display: block;
              width: 100%;
              margin: 0 auto;
              &:hover {
                transform: scale(1.2);
                cursor: pointer;
              }
            }
          }
          > p {
            margin-top: 2em;
            margin-bottom: 2em;
            padding-bottom: 2em;
            font-size: 0.9em;
            border-bottom: 1px solid rgba(210, 215, 217, 0.75);
            > button {
              margin-top: 2em;
            }
          }
          &:last-of-type {
            > p {
              border-bottom: none;
            }
          }
        }
      }
      &#contact {
        > p {
          margin-bottom: 2em;
          padding-right: 1em;
        }
        > ul {
          > li {
            border-bottom: 1px solid rgba(210, 215, 217, 0.75);
            padding: 2em 0;
            &:last-of-type {
              border-bottom: none;
            }
            > svg {
              margin: -0.1em 0.5em -0.1em 0;
              font-size: 1.5em;
            }
            > a {
              display: inline-block;
              margin-left: auto;
              color: #9fa3a6;
              border-bottom: 1px dotted #9fa3a6;
              &:hover {
                color: rgb(245, 106, 106);
                border-bottom: 1px dotted rgb(245, 106, 106);
              }
            }
            > p {
              float: right;
              width: 16.5em;
            }
          }
        }
      }
      &:nth-of-type(n + 2) {
        &::after {
          content: '';
          width: 20em;
          border-bottom: 2px solid rgba(210, 215, 217, 0.75);
          position: absolute;
          bottom: 0;
        }
      }
    }
    > nav {
      padding: 0 2em;
      position: relative;
      > header {
        > h2 {
          margin-bottom: 1.5em;
        }
      }
      > ul {
        > li {
          border-bottom: 1px solid rgba(210, 215, 217, 0.75);
          > a {
            display: block;
            width: 100%;
            text-transform: uppercase;
            color: #3d4449;
            font-size: 0.9em;
            padding-top: 1em;
            padding-bottom: 1em;
            letter-spacing: 0.05em;
            &:hover {
              color: #f56a6a;
            }
          }
          > ul {
            display: none;
          }
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
      &::after {
        content: '';
        width: 20em;
        border-bottom: 2px solid rgba(210, 215, 217, 0.75);
        position: absolute;
        bottom: -2em;
      }
    }
    > footer {
      position: relative;
      bottom: 0;
      left: 0;
      padding: 2em;
      > p {
        color: #9fa3a6;
        font-size: 0.9em;
        > a {
          color: #9fa3a6;
          border-bottom: 1px dotted #9fa3a6;
          &:hover {
            color: rgb(245, 106, 106);
            border-bottom: 1px dotted rgb(245, 106, 106);
          }
        }
        &:last-of-type {
          padding-top: 1em;
          > a {
            border: none;
          }
        }
      }
    }
  }
  div#content {
    position: relative;
    flex: 5.34;
    padding: 0 6em;
    transition: all 0.5s ease;
    button#menu-icon {
      position: absolute;
      left: 0;
      width: 6em;
      height: 6em;
      border: none;
      cursor: pointer;
      > svg.fa-bars {
        font-size: 2.5em;
      }
      &:hover,
      &:active,
      &:checked {
        background: transparent;
      }
    }
    header.main-header {
      padding-top: 4em;
      display: flex;
      padding-bottom: 1em;
      border-bottom: 4px solid rgb(245, 106, 106);
      a {
        width: fit-content;
        font-size: 1.25em;
        color: rgb(127, 136, 143);
        font-weight: 500;
        > span {
          color: #3d4449;
          font-weight: 700;
        }
      }
      ul {
        margin-left: auto;
        display: flex;
        li {
          margin-left: 0.75em;
          a {
            svg {
              color: rgb(127, 136, 143);
              font-size: 1.25em;
            }
            &:hover > svg {
              color: rgb(245, 106, 106);
            }
          }
        }
      }
    }
    main {
      section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-top: 4em;
        padding-bottom: 4em;
        border-bottom: 2px solid rgba(210, 215, 217, 0.75);
        &:last-of-type {
          padding-bottom: 0;
        }
        &#presentation {
          div.left {
            flex: 1;
            padding-right: 5em;
            > header {
              display: flex;
              flex-direction: column;
              > p#accroche {
                text-transform: uppercase;
                padding: 1em 0;
                font-family: 'Roboto Slab', serif;
              }
            }
            > p {
              padding-bottom: 2em;
            }
            > button {
              width: 12em;
              height: 4em;
              text-transform: uppercase;
            }
          }
          div.right {
            flex: 1;
            align-self: center;
            > img {
              display: block;
              width: 100%;
              min-height: 100%;
              margin: 0 auto;
              border-radius: 0.5em;
              box-shadow: 0 0 5px -2.5px #3d4449;
            }
          }
        }
        &#icons {
          > header {
            width: 100%;
          }
          > div.container {
            display: flex;
            margin-left: 2em;
            > article {
              width: 50%;
              display: flex;
              margin-bottom: 3em;
              > div.left {
                width: 10em;
                height: 10em;
                line-height: 11em;
                text-align: center;
                position: relative;
                > svg {
                  font-size: 2.75em;
                }
                &::after {
                  content: '';
                  position: absolute;
                  border: 2px solid rgba(210, 215, 217, 0.75);
                  border-radius: 0.25em;
                  width: 7em;
                  height: 7em;
                  left: 1.35em;
                  top: 1.35em;
                  transform: rotate(45deg);
                }
              }
              > div.right {
                flex: 1;
                margin-left: 4em;
                margin-right: 5em;
                > h3 {
                  margin-bottom: 1em;
                }
              }
            }
          }
        }
        &#table {
          border-bottom: none;
          padding-bottom: 4em;
          > header {
            width: 100%;
          }
          > div.container {
            display: flex;
            > article {
              width: calc((100% - 16em) / 3);
              position: relative;
              > div.img-wrapper {
                width: 100%;
                overflow: hidden;
                border-radius: 0.5em;
                box-shadow: 0 0 5px -2.5px #3d4449;
                > img {
                  display: block;
                  width: 100%;
                  &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                  }
                }
              }
              > div.content {
                padding-top: 2em;
                > h3 {
                  padding-bottom: 1em;
                }
                > p {
                  padding-bottom: 2em;
                }
                > button {
                  margin-bottom: 4em;
                }
              }
              &:nth-of-type(3n - 1) {
                &::before {
                  position: absolute;
                  content: '';
                  top: 0;
                  height: 100%;
                  left: -4em;
                  border-left: 1px solid rgba(210, 215, 217, 0.75);
                }
                &::after {
                  position: absolute;
                  content: '';
                  height: 100%;
                  top: 0;
                  right: -4em;
                  border-right: 1px solid rgba(210, 215, 217, 0.75);
                }
              }
              &:nth-of-type(3n + 1) {
                margin-right: 8em;
              }
              &:nth-of-type(3n) {
                margin-left: 8em;
              }
              &:nth-of-type(n + 4) {
                padding-top: 4em;
                > div.content {
                  > button {
                    margin-bottom: 0;
                  }
                }
              }
              &:last-of-type {
                &::after {
                  position: absolute;
                  content: '';
                  top: 0;
                  right: 0;
                  width: calc((100% + 5.25em) * 3);
                  border-top: 1px solid rgba(210, 215, 217, 0.75);
                }
              }
            }
          }
        }
      }
    }
  }
}
