@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #7f888f;
  font-weight: 400;
  line-height: 1.65;
}

h1,
h2,
h3,
button,
div#content > header > a,
aside > nav > ul > li > a {
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3 {
  color: #3d4449;
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.75em;
  border-bottom: 3px solid #f56a6a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.75em 0.5em 0;
  margin: 0 0 2em 0;
}

h3 {
  font-size: 1.25em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, svg {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover, svg:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

input {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

input:active, input:hover, input:focus {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

p {
  font-size: 1.05em;
}

button {
  background: none;
  border: 2px solid #f56a6a;
  border-radius: 0.3em;
  padding: 0.75em 1.25em;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

button:hover {
  background-color: rgba(245, 106, 106, 0.05);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

button,
svg {
  color: #f56a6a;
}

img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

img:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

div#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#wrapper aside {
  width: 24em;
  background-color: #f5f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div#wrapper aside h2 {
  font-size: 1.5em;
}

div#wrapper aside.inactive {
  margin-left: -24em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div#wrapper aside > section {
  padding: 2em;
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

div#wrapper aside > section#search {
  background-color: #eff1f2;
}

div#wrapper aside > section#search > form {
  height: 3em;
}

div#wrapper aside > section#search > form > input {
  width: 100%;
  height: 3em;
  border-radius: 0.5em;
  border: 1px solid lightgrey;
  padding: 1em;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

div#wrapper aside > section#search > form > input:focus {
  outline: none;
  border: 1px solid #f56a6a;
  -webkit-box-shadow: 0 0 0 1px #f56a6a;
          box-shadow: 0 0 0 1px #f56a6a;
}

div#wrapper aside > section#search > form > svg {
  position: relative;
  top: -1.5em;
  left: 12em;
  font-size: 1.5em;
  color: lightgrey;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

div#wrapper aside > section#news {
  margin-top: 1em;
}

div#wrapper aside > section#news > article > div.img-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 10px -5px #3d4449;
          box-shadow: 0 0 10px -5px #3d4449;
}

div#wrapper aside > section#news > article > div.img-wrapper > img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

div#wrapper aside > section#news > article > div.img-wrapper > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

div#wrapper aside > section#news > article > p {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 2em;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(210, 215, 217, 0.75);
}

div#wrapper aside > section#news > article > p > button {
  margin-top: 2em;
}

div#wrapper aside > section#news > article:last-of-type > p {
  border-bottom: none;
}

div#wrapper aside > section#contact > p {
  margin-bottom: 2em;
  padding-right: 1em;
}

div#wrapper aside > section#contact > ul > li {
  border-bottom: 1px solid rgba(210, 215, 217, 0.75);
  padding: 2em 0;
}

div#wrapper aside > section#contact > ul > li:last-of-type {
  border-bottom: none;
}

div#wrapper aside > section#contact > ul > li > svg {
  margin: -0.1em 0.5em -0.1em 0;
  font-size: 1.5em;
}

div#wrapper aside > section#contact > ul > li > a {
  display: inline-block;
  margin-left: auto;
  color: #9fa3a6;
  border-bottom: 1px dotted #9fa3a6;
}

div#wrapper aside > section#contact > ul > li > a:hover {
  color: #f56a6a;
  border-bottom: 1px dotted #f56a6a;
}

div#wrapper aside > section#contact > ul > li > p {
  float: right;
  width: 16.5em;
}

div#wrapper aside > section:nth-of-type(n + 2)::after {
  content: '';
  width: 20em;
  border-bottom: 2px solid rgba(210, 215, 217, 0.75);
  position: absolute;
  bottom: 0;
}

div#wrapper aside > nav {
  padding: 0 2em;
  position: relative;
}

div#wrapper aside > nav > header > h2 {
  margin-bottom: 1.5em;
}

div#wrapper aside > nav > ul > li {
  border-bottom: 1px solid rgba(210, 215, 217, 0.75);
}

div#wrapper aside > nav > ul > li > a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: #3d4449;
  font-size: 0.9em;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 0.05em;
}

div#wrapper aside > nav > ul > li > a:hover {
  color: #f56a6a;
}

div#wrapper aside > nav > ul > li > ul {
  display: none;
}

div#wrapper aside > nav > ul > li:last-of-type {
  border-bottom: none;
}

div#wrapper aside > nav::after {
  content: '';
  width: 20em;
  border-bottom: 2px solid rgba(210, 215, 217, 0.75);
  position: absolute;
  bottom: -2em;
}

div#wrapper aside > footer {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2em;
}

div#wrapper aside > footer > p {
  color: #9fa3a6;
  font-size: 0.9em;
}

div#wrapper aside > footer > p > a {
  color: #9fa3a6;
  border-bottom: 1px dotted #9fa3a6;
}

div#wrapper aside > footer > p > a:hover {
  color: #f56a6a;
  border-bottom: 1px dotted #f56a6a;
}

div#wrapper aside > footer > p:last-of-type {
  padding-top: 1em;
}

div#wrapper aside > footer > p:last-of-type > a {
  border: none;
}

div#wrapper div#content {
  position: relative;
  -webkit-box-flex: 5.34;
      -ms-flex: 5.34;
          flex: 5.34;
  padding: 0 6em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div#wrapper div#content button#menu-icon {
  position: absolute;
  left: 0;
  width: 6em;
  height: 6em;
  border: none;
  cursor: pointer;
}

div#wrapper div#content button#menu-icon > svg.fa-bars {
  font-size: 2.5em;
}

div#wrapper div#content button#menu-icon:hover, div#wrapper div#content button#menu-icon:active, div#wrapper div#content button#menu-icon:checked {
  background: transparent;
}

div#wrapper div#content header.main-header {
  padding-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1em;
  border-bottom: 4px solid #f56a6a;
}

div#wrapper div#content header.main-header a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25em;
  color: #7f888f;
  font-weight: 500;
}

div#wrapper div#content header.main-header a > span {
  color: #3d4449;
  font-weight: 700;
}

div#wrapper div#content header.main-header ul {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#wrapper div#content header.main-header ul li {
  margin-left: 0.75em;
}

div#wrapper div#content header.main-header ul li a svg {
  color: #7f888f;
  font-size: 1.25em;
}

div#wrapper div#content header.main-header ul li a:hover > svg {
  color: #f56a6a;
}

div#wrapper div#content main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 2px solid rgba(210, 215, 217, 0.75);
}

div#wrapper div#content main section:last-of-type {
  padding-bottom: 0;
}

div#wrapper div#content main section#presentation div.left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 5em;
}

div#wrapper div#content main section#presentation div.left > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#wrapper div#content main section#presentation div.left > header > p#accroche {
  text-transform: uppercase;
  padding: 1em 0;
  font-family: 'Roboto Slab', serif;
}

div#wrapper div#content main section#presentation div.left > p {
  padding-bottom: 2em;
}

div#wrapper div#content main section#presentation div.left > button {
  width: 12em;
  height: 4em;
  text-transform: uppercase;
}

div#wrapper div#content main section#presentation div.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div#wrapper div#content main section#presentation div.right > img {
  display: block;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 5px -2.5px #3d4449;
          box-shadow: 0 0 5px -2.5px #3d4449;
}

div#wrapper div#content main section#icons > header {
  width: 100%;
}

div#wrapper div#content main section#icons > div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2em;
}

div#wrapper div#content main section#icons > div.container > article {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3em;
}

div#wrapper div#content main section#icons > div.container > article > div.left {
  width: 10em;
  height: 10em;
  line-height: 11em;
  text-align: center;
  position: relative;
}

div#wrapper div#content main section#icons > div.container > article > div.left > svg {
  font-size: 2.75em;
}

div#wrapper div#content main section#icons > div.container > article > div.left::after {
  content: '';
  position: absolute;
  border: 2px solid rgba(210, 215, 217, 0.75);
  border-radius: 0.25em;
  width: 7em;
  height: 7em;
  left: 1.35em;
  top: 1.35em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

div#wrapper div#content main section#icons > div.container > article > div.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 4em;
  margin-right: 5em;
}

div#wrapper div#content main section#icons > div.container > article > div.right > h3 {
  margin-bottom: 1em;
}

div#wrapper div#content main section#table {
  border-bottom: none;
  padding-bottom: 4em;
}

div#wrapper div#content main section#table > header {
  width: 100%;
}

div#wrapper div#content main section#table > div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#wrapper div#content main section#table > div.container > article {
  width: calc((100% - 16em) / 3);
  position: relative;
}

div#wrapper div#content main section#table > div.container > article > div.img-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 5px -2.5px #3d4449;
          box-shadow: 0 0 5px -2.5px #3d4449;
}

div#wrapper div#content main section#table > div.container > article > div.img-wrapper > img {
  display: block;
  width: 100%;
}

div#wrapper div#content main section#table > div.container > article > div.img-wrapper > img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

div#wrapper div#content main section#table > div.container > article > div.content {
  padding-top: 2em;
}

div#wrapper div#content main section#table > div.container > article > div.content > h3 {
  padding-bottom: 1em;
}

div#wrapper div#content main section#table > div.container > article > div.content > p {
  padding-bottom: 2em;
}

div#wrapper div#content main section#table > div.container > article > div.content > button {
  margin-bottom: 4em;
}

div#wrapper div#content main section#table > div.container > article:nth-of-type(3n - 1)::before {
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  left: -4em;
  border-left: 1px solid rgba(210, 215, 217, 0.75);
}

div#wrapper div#content main section#table > div.container > article:nth-of-type(3n - 1)::after {
  position: absolute;
  content: '';
  height: 100%;
  top: 0;
  right: -4em;
  border-right: 1px solid rgba(210, 215, 217, 0.75);
}

div#wrapper div#content main section#table > div.container > article:nth-of-type(3n + 1) {
  margin-right: 8em;
}

div#wrapper div#content main section#table > div.container > article:nth-of-type(3n) {
  margin-left: 8em;
}

div#wrapper div#content main section#table > div.container > article:nth-of-type(n + 4) {
  padding-top: 4em;
}

div#wrapper div#content main section#table > div.container > article:nth-of-type(n + 4) > div.content > button {
  margin-bottom: 0;
}

div#wrapper div#content main section#table > div.container > article:last-of-type::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: calc((100% + 5.25em) * 3);
  border-top: 1px solid rgba(210, 215, 217, 0.75);
}
/*# sourceMappingURL=sass.css.map */